html,body{
	height: 100%;
}


#bt-mb{
	padding-top: 15px;
}

#nav-menu{
	padding-top: 20px;
	margin-left: 150px;
}


#wrap > #conteudo {
  min-height: 100%;
  padding: 90px 0 0; 
}




















.tsocial{
	margin-left: -40px;
}
.tsocial li{
	display:inline;
}

.icon-phone:before{
	content: url("../images/icons/icon-phone.png");
}
.icon-email:before{
	content: url("../images/icons/icon-email.png");
}
.icon-social:before{
	content: url("../images/icons/icon-social.png");
}
.icon-face:before{
	content: url("../images/icons/icon-face.png");
}
.icon-youtube:before{
	content: url("../images/icons/icon-youtube.png");
}
.icon-instagran:before{
	content: url("../images/icons/icon-instagran.png");
}
.icon-twitter:before{
	content: url("../images/icons/icon-twitter.png");
}
.icon-flickr:before{
	content: url("../images/icons/icon-flickr.png");
}
.icon-soundclound:before{
	content: url("../images/icons/icon-soundclound.png");
}

.icon-phone-min:before{
	content: url("../images/icons/icon-phone-min-min.png");
}
.icon-email-min:before{
	content: url("../images/icons/icon-email-min.png");
}
.icon-social-min:before{
	content: url("../images/icons/icon-social-min.png");
}
.icon-face-min:before{
	content: url("../images/icons/icon-face-min.png");
}
.icon-youtube-min:before{
	content: url("../images/icons/icon-youtube-min.png");
}
.icon-instagran-min:before{
	content: url("../images/icons/icon-instagran-min.png");
}
.icon-twitter-min:before{
	content: url("../images/icons/icon-twitter-min.png");
}
.icon-flickr-min:before{
	content: url("../images/icons/icon-flickr-min.png");
}
.icon-soundclound-min:before{
	content: url("../images/icons/icon-soundclound-min.png");
}








.row-galery{
	margin-top: 10px;
}





















.div-integrantes{
	margin-bottom: 20px;
}
